#App {
    display: flex;
    flex-direction: row;
    background-color: var(--blue-dark);
    color: var(--light);
}

.container_page {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: margin-left 0.5s;
    background-color: inherit;
}

.container_page.nav_open {
    margin-left: 200px;
}

#App main {
    position: relative;
    max-width: 500px;
    padding-bottom: 10px;
    /* Need to fix issue with height when less than viewport */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section {
    background-color: var(--blue-dark);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:active {
    color: var(--link-color-active);
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    margin-bottom: 15px;
}

input {
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding-left: 10px;
    background-color: var(--light);
    border: 1px solid var(--blue-medium);
    border-radius: 10px;
}

button {
    height: 40px;
    border: 2px solid var(--blue-medium);
    border-radius: 20px;
    background-color: var(--blue-light);
    color: inherit;
}

button:active {
    background-color: var(--blue-medium);
    border-color: var(--blue-light);
}

.link_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.link_list li {
    padding: 5px;
}

.link_list li:hover {
    background-color: var(--blue-medium);
}

.hidden {
    display: none !important;
}
