table {
    border-collapse: collapse;
    background-color: var(--blue-light);
}

table,
th,
td {
    border: 1px solid var(--light);
}

td {
    margin: 0;
    padding: 0.5rem;
}

th {
    text-align: left;
}
