table {
    border-collapse: collapse;
    text-align: center;
    background-color: var(--blue-light);
}

th {
    background-color: var(--blue-medium);
}

table,
th,
td {
    border: 1px solid var(--light);
}

th,
td {
    margin: 0;
    padding: 0.5rem;
}

th {
    text-align: left;
}
