footer {
    display: flex;
    justify-content: center;
}

footer .flexContainer {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer p {
    display: inline;
}

footer .faIcon {
    font-size: 30px;
}
