footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    /* height: 51px; */
    border-top: 1px solid var(--blue-medium);
    display: flex;
    justify-content: center;
    background-color: inherit;
}

footer .container_flex {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer p {
    display: inline;
}

footer .faIcon {
    font-size: 30px;
}
